/* Configuración general del body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* Panorama al fondo */
#panorama {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;  /* Enviar el panorama al fondo */
}

/* Dividir la pantalla en dos secciones */
.split {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Parte izquierda con imagen de fondo */
.left {
    width: 70%; 
    background: rgba(20, 59, 131, 0.5); /* Fondo semitransparente */
    background-image: url('images/emi2.png'); /* Imagen de fondo a la izquierda */
    background-size: cover;
    background-position: center;
}

/* Parte derecha con fondo de color */
.right {
    width: 30%; 
    background-color: rgba(20, 59, 131, 0.5); /* Fondo semitransparente */
}

/* Contenedor de los botones */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilo de los botones */
.button-container button {
    padding: 20px 60px; /* Botones grandes */
    background-color: #e8c629;
    border: none;
    width: 350px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px 0;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #2f82d0;
}
